@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(82, 82, 91);
  background: linear-gradient(
    90deg,
    rgba(113, 113, 122, 1) 0%,
    rgba(212, 212, 216, 1) 100%
  );
  color: black;
}

#packs::-webkit-scrollbar {
  width: 0.6em;
}

#packs::-webkit-scrollbar-track {
  background: rgb(45, 92, 76);
  border-radius: 1em;
}

#packs::-webkit-scrollbar-thumb {
  background: rgba(9, 6, 84, 0.188);
  border-radius: 1em;
}
